<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CellSaver</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <!-- <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css"> -->

    <!-- <link rel="stylesheet" href="assets/simple-line-icons/css/simple-line-icons.css"> -->
    <!-- <link rel="stylesheet" href="assets/device-mockups/device-mockups.min.css"> -->

    <!-- Theme CSS -->
    <!-- <link href="/assets/css/new-age.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag asset_path 'css/new-age.min.css.scss' %>
    <%= stylesheet_link_tag asset_path 'font-awesome/scss/font-awesome.scss' %>
    <%= stylesheet_link_tag asset_path 'simple-line-icons/scss/simple-line-icons.scss' %>
    <%= stylesheet_link_tag asset_path 'device-mockups/device-mockups.min.css.erb' %>

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag("CellSaverLogo.png", class: "logo img-responsive") %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#subscribe">Subscribe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features" style = "heig">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutus">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
      <div class = "notification">
        <%= notice %>
      </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>CellSaver is a Life Saver!</h1>
                            <a href="#subscribe" class="btn btn-outline btn-xl page-scroll">Subscribe!</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <%= image_tag asset_path 'img/demo-screen-1.jpg', class: "img-responsive" %>
                                </div>
                                <div class="button">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class = "col-sm-6">
                  <%= image_tag(asset_path('img/productimage.png'), style: "width:800px;margin-top:50%;margin-bottom:10%", class: "img-responsive" )%>
                </div>
            </div>
        </div>
    </header>

    <section id="subscribe" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the buzz is about!</h2>
                    <p>Sign up to get notified!</p>
                    <%= form_for @user, url: users_path, method: :post, class: "form-inline" do |f|%>
                      <div class="input-group">
                        <%= f.text_field :email, class: "form-control", placeholder: "Email Address", style: "font-size: 15px;height:50px", size: 50 %>
                        <div class="input-group-btn">
                          <%= f.submit :Subscribe, class: "btn btn-outline btn-xl" %>
                        </div>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features</h2>
                        <p class="text-muted">Check out what you can do with CellSaver!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="assets/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                    <%= image_tag asset_url 'img/demo-screen-1.jpg', class: "img-responsive" %>
                                </div>
                                <div class="button">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Drop Protection</h3>
                                    <p class="text-muted">The CellSaver will prevent your phone from hitting the ground at great speeds, saving it from extreme damage.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-map text-primary"></i>
                                    <h3>Flexibility</h3>
                                    <p class="text-muted">The CellSaver offers full flexibility to use your phone during outdoor activities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-grid text-primary"></i>
                                    <h3>Universal</h3>
                                    <p class="text-muted">The CellSaver can be attached to any phone or case.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Theft Protection</h3>
                                    <p class="text-muted">Don’t Lose Your Phone Again - Since the CellSaver is connected to your person or a larger object then one will be much less likely to set their phone down and forget it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Check us out!<br></h2>
                <a href="#subscribe" class="btn btn-outline btn-xl page-scroll"></a>
            </div>
        </div>
        <div class="overlay"></div>
    </section> -->

    <section id="faq" class="faq bg-primary">
      <div id="wrapper">
        <div class="intro-inner">
            <div class="about-intro">
                <div class="dtable hw100">
                    <div class="dtable-cell hw100">
                        <div class="container text-center">
                            <h1 class="intro-title animated fadeInDown"> Frequently Asked Questions </h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.about-intro -->
        </div>
        <!-- /.intro-inner -->
        <div class="main-container inner-page" style = "color:black">
            <div class="container">
                <div class="section-content">
                    <div class="row ">
                        <hr class="center-block small text-hr">
                    </div>
                    <div class="faq-content">
                        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group faq-panel">
                            <div class="panel">
                                <div id="headingOne" role="tab" class="panel-heading">
                                    <h4 class="panel-title">
                                        <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne"
                                           data-parent="#accordion" data-toggle="collapse">
                                            What phones are supported?
                                        </a>
                                    </h4>
                                </div>
                                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in"
                                     id="collapseOne">
                                    <div class="panel-body">
                                        At the moment, only iPhone 6, and iPhone 6S Plus models are supported.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div id="headingTwo" role="tab" class="panel-heading">
                                    <h4 class="panel-title">
                                        <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo"
                                           data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                            When can I purchase this?
                                        </a>
                                    </h4>
                                </div>
                                <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse"
                                     id="collapseTwo">
                                    <div class="panel-body">
                                        We are still in our prototype stage. We are doing are best to bring our products the market
                                        <br />
                                        as soon as possible. It looks like they will be ready to purchase mid May!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>r
      </div>
      <!-- /.wrapper -->
    </section>



    <section id="aboutus" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>About Us</h2>
                        <p class="text-muted">Meet our founders!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <%= image_tag(asset_path("img/founders/enoch.png"), class: "img-circle", style: "height:200px;width:200px;overflow: hidden;")%>
                                    <h3>Enoch Ko</h3>
                                    <p class="text-muted">Chief Executive Officer</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <%= image_tag(asset_path("img/founders/alexander.jpg"), class: "img-circle", style: "height:200px;width:200px;overflow: hidden;")%>
                                    <h3>Alexander Oropel</h3>
                                    <p class="text-muted">Chief Marketing Officer</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <%= image_tag(asset_path("img/founders/troy.jpg"), class: "img-circle", style: "height:200px;width:200px;overflow: hidden;")%>
                                    <h3>Troy Hamblin</h3>
                                    <p class="text-muted">Chief Financial Officer</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-md-offset-2">
                              <div class="feature-item">
                                  <%= image_tag(asset_path("img/founders/jordan.jpeg"), class: "img-circle", style: "height:200px;width:200px;overflow: hidden;")%>
                                  <h3>Jordan Spinner</h3>
                                  <p class="text-muted">Chief Technology Officer</p>
                              </div>
                          </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <%= image_tag(asset_path("img/founders/nayef.png"), class: "img-circle", style: "height:200px;width:200px;overflow:hidden;")%>
                                    <h3>Nayef Almasoud</h3>
                                    <p class="text-muted">Chief Operating Officer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="https://www.facebook.com/CellSaver-694822200703885/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#contact"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
              <li>
                  <a class="page-scroll" href="#subscribe">Subscribe</a>
              </li>
              <li>
                  <a class="page-scroll" href="#features" style = "heig">Features</a>
              </li>
              <li>
                  <a class="page-scroll" href="#contact">Contact</a>
              </li>
              <li>
                  <a class="page-scroll" href="#faq">FAQ</a>
              </li>
              <li>
                  <a class="page-scroll" href="#aboutus">About Us</a>
              </li>
            </ul>
        </div>
    </footer>

    <!-- Plugin JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js' %>

    <!-- Theme JavaScript -->
    <!-- <script src="assets/js/new-age.min.js"></script> -->
    <%= javascript_include_tag asset_path 'js/new-age.min.js' %>

</body>

</html>
